 <div class="user-details">
  <h1> My Skills </h1>
    <p>I‘m a technical writer based in Hamburg, Germany. Before I started my professional career, I obtained a Master‘s degree in translation and interpreting from the Johannes Gutenberg University Mainz. I enjoy working with people to produce user-friendly and intuitive software that helps users get their work done efficiently.</p>
	 <p>If you also think documentation is not just a necessity but a way to ensure great user experience, or if you want to know more about me and my work, feel free to reach out to me.</p>	 
</div>

<!--
 <div class="avatar">
  <img src="assets/img/avatar.png" alt="Avatar">
 </div>
-->

  <div class="user">
	  
    <div class="tech">
      <h2>Software </h2>
	  <div class="icons"> 
        <i class="icon far fa-desktop"></i>
		<i class="icon far fa-file-alt"></i>
        <i class="icon far fa-users"></i>
      </div>
      <p>
		As a technical writer, I‘ve worked on different software projects putting the user‘s needs first. To provide the right help at the right place, I dig deep to fully understand what the code is supposed to achieve. Not even complicated tech speak can scare me off.
      </p>
    </div>

    <div class="tech">
      <h2>Translation</h2>
	  <div class="icons">
		  <i class="icon fas fa-globe"></i>
          <i class="icon far fa-flag-usa"></i>
          <i class="icon far fa-comments"></i>
      </div>
      <p>
		As a trained translator and interpreter, I‘ve learned how important it is to be accurate when conveying a message in a foreign language. My linguistic and intercultural skills allow me to find the right tone of voice and terminology. 
      </p>
    </div>
    <div class="tech">
      <h2>Communication</h2>
	  <div class="icons">
          <i class="icon fas fa-blog"></i>
          <i class="icon far fa-video"></i>
          <i class="icon far fa-images"></i>
      </div>
      <p>
I enjoy interacting with people from diverse backgrounds and using different types of media, be it blog posts, videos or interactive graphics. This way, I ensure that documentation is tailored to the needs of different user groups and reaches a broader audience. 		</p>
    </div>
</div>
