<div class="background">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/mareike-baudewig-4b5995100/"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My XING" target="_blank" href="https://www.xing.com/profile/Mareike_Baudewig/cv?sc_o=mxb_p"><i class="icon fab fa-xing" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
